<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:label="OsEngine Mobile"
        android:theme="@style/OsEngineTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TerminalsActivity" android:exported="false" />
        <activity android:name=".RobotsActivity" android:exported="false" />
        <activity android:name=".ChartActivity" android:exported="false" />
        <activity android:name=".RobotParametersActivity" android:exported="false" />
        <activity android:name=".BotSettingsActivity" android:exported="false" />
        <activity android:name=".RobotEntryActivity" android:exported="false" />
        <activity android:name=".ConnectorSettingsActivity" android:exported="false" />
        <activity android:name=".NonTradePeriodsActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ComparePositionsActivity" android:exported="false" />
        <activity android:name=".ScreenerJournalActivity" android:exported="false" />
        <activity android:name=".PositionActionActivity" android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
